<div>
<%=paginate @data%>
 <section>
    <div class="row">
      <% @pokemon.each do |item| %>
        <div class="column" style="background-color:#aaa;">
          <h2><%=item.name%></h2>
          <h1><%=item.type1%></h1>
        </div>
      <% end %>
    </div>
  </section>
</div>