<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
 <section class="layout">
    <div class="row">
      <% @pokemon.each do |item| %>
        <div class="column" style="background-color:#aaa;">
          <h2><%=item.name%></h2>
        </div>
      <% end %>
    </div>
  </section>
</div>