<div class="data">

<p>Results for  <%= params[:keywords]%>:</p>
<%if(@pokemon.empty?)%>
<p> Could not find a pokemon with that name.</p>

<%else%>
<ul>
 <% @Pokemon.each do |pokemon|%>
  <li> <%=link_to dog.name , dog %> </li>
  <%end%>
</ul>
<%end%>
</div>
