<h1>About#index</h1>
<p>Pokemon are fun collectable creatures. Each Pokemon has different elemental types. The elemental types are strong and weak against different elemental types. For example, Fire type is weak against Water type, but strong against Grass type.</p>
<img src="https://i.imgur.com/DAAougD.png" alt="pokemonERD">